/* layout */
.wrap {
    width: 100%;
    min-width: 1400px;
    margin: 0 auto;
  }
  
  .inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
  }
  
  .container {
    padding-top: 81px;
  }