// 메인 섹션 - 라인게임즈 생활
.main_section {
  padding-top: 74px;

  .main_title {
    font-size: 48px;
    font-weight: 900;
    color: #000;
    text-align: center;
  }

  .maig_bg {
    margin-top: 83px;
    height: 350px;
    background: url('../img/bg_main.jpg') 50% 100% / cover no-repeat;
  }
}

// 복지 카테고리 - health/fun/happy
.welfare_list {
  margin-top: 20px;

  .welfare {
    padding-top: 60px;
    border-bottom: 1px solid silver;
  }

  .welfare_category {
    float: left;
    width: 228px;
    font-size: 36px;
    font-weight: 900;
    color: #000;
    letter-spacing: -1px;
  }
}

// 카테고리별 내용
.welfare_info {
  overflow: hidden;
  font-size: 0;

  .desc_box {
    display: inline-block;
    vertical-align: top;
    margin-left: 81px;
    padding-top: 212px;
    padding-bottom: 40px;
    width: 212px;
    min-height: 365px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    
    strong {
      display: block;
      margin-top: 15px;
      font-size: 17px;
      font-weight: 500;
      color: #000;
    }

    p {
      margin-top: 16px;
      font-size: 13px;
      font-weight: 400;
      color: #777;
      width: 120%;
      margin-left: -10%;
    }

    // 복지별 상단 이미지
    @for $i from 1 through 4 {
     &.health#{$i} {
       background: url('../img/health#{$i}.png') 50% 0 / auto no-repeat;
     }
    }

    @for $i from 1 through 6 {
     &.fun#{$i} {
       background: url('../img/fun#{$i}.png') 50% 0 / auto no-repeat;
     }
    }

    @for $i from 1 through 6 {
     &.happy#{$i} {
       background: url('../img/happy#{$i}.png') 50% 0 / auto no-repeat;
     }
    }
  }
}

// 서브 섹션 - 라인게임즈 더 둘러보기
.sub_section {
  padding-top: 110px;
  padding-bottom: 169px;

  .sub_title {
    font-size: 38px;
    font-weight: 300;
    color: #000;
    text-align: center;

    em {
      font-weight: 900;
    }
  }
}

// 이미지 슬라이드
.line_images {
  position: relative;
  margin-top: 23px;

  // 슬라이드 상단 네비게이션
  .slide_nav {
    text-align: center;
    font-size: 0;

    li {
      display: inline-block;
      margin: 0 26px;

      .btn_slide {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        color: #323232;
        letter-spacing: -.9px;
        cursor: pointer;
      }

      &.active .btn_slide {
        color: #00b700;
        border-bottom: 2px solid #00b700;
      }
    }
  }

  // 슬라이드 컨테이너
  .slide_container {
    position: relative;
    width: 1200px;
    margin: 58px auto 0;
    overflow: hidden;

    .slide_wrap {
      white-space: nowrap;
      font-size: 0;
      -webkit-transition: -webkit-transform .5s;
      transition: transform .5s;

      .slide {
        display: inline-block;
      }
    }
  }

  // 슬라이드 좌우 버튼
  .slide_btn_prev, .slide_btn_next {
    position: absolute;
    bottom: 330px;
    cursor: pointer;
  }

  .slide_btn_prev {
    left: 0;

    .icon_arr_left {
      @include sprite($icon_btn_left);
      cursor: pointer;
    }
  }

  .slide_btn_next {
    right: 0;

    .icon_arr_right {
      @include sprite($icon_btn_right);
      cursor: pointer;
    }
  }
}