.ft_top {
  border-top: 1px solid #e5e5e5;

  .inner {
    padding: 39px 0;
  }

  .ft_logo {
    @include sprite($logo_line_games_gray);
    position: absolute;
    top: 40px;
    left: 0;
  }

  // 개인정보처리방침, 이용약관 링크
  .ft_link {
    text-align: center;
    font-size: 0;

    li {
      position: relative;
      display: inline-block;
      padding: 0 40px;

      a {
        font-size: 14px;
        font-weight: 500;
        color: #838383;
      }

      & ~ li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7px;
        width: 1px;
        height: 14px;
        background-color: #e5e5e5;
      }
    }
  }
}

.ft_bottom {
  border-top: 1px solid #e5e5e5;

  .inner {
    padding: 13px 0;
  }

  .copy {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #838383;
    text-transform: uppercase;
  }
}

.sitemap_box {
  position: absolute;
  top: 30px;
  right: 2px;
  width: 165px;
  border: 1px solid #818181;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  .selected_value {
    display: block;
    padding: 0 0 0 19px;
    width: 103px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #818181;
  }

  .text {
    font-size: 13px;
    color: #818181;
    text-transform: uppercase;
    letter-spacing: .8px
  }

  .icon_arr_down {
    @include sprite($icon_arr_down_gray);
    position: absolute;
    top: 17px;
    right: 12px;
  }

  .select_list {
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #818181;
    display: none;

    &.on {
      display: block;
    }

    .lang {
      line-height: 35px;
      padding: 0 14px;

      a {
        display: block;
        color: #818181;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}