.hd {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-width: 144px;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.logo {
  position: absolute;
  top: 30px;
  left: 0;

  .logo_link {
    @include sprite($logo_line_games);
    display: block;
  }
}

.gnb_nav {
  .gnb_list {
    text-align: center;
    font-size: 0;

    .gnb_menu {
      position: relative;
      display: inline-block;
      margin: 0 68px;
      padding: 0 5px;
      left: 80px;

      a {
        font-size: 17px;
        font-weight: 500;
        color: #000;
        line-height: 80px;
      }

      &[aria-selected="true"]:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
      }
    }
  }
}

// 언어 선택 박스
.select_box {
  position: absolute;
  top: 27px;
  right: 0;

  .selected_value {
    display: block;
    padding: 0 14px;
    width: 94px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .text {
    font-size: 13px;
    color: #000;
  }

  .icon_arr_down {
    @include sprite($icon_arr_down);
    position: absolute;
    top: 12px;
    right: 13px;
  }

  .select_list {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 1px 1px silver;
    border-radius: 3px;
    display: none;

    &.on {
      display: block;
    }

    .lang {
      line-height: 30px;
      padding: 0 14px;

      a {
        display: block;
        color: #aaa;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      &.selected a {
        color: #000;
      }
    }
  }
}