// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-back-name: 'icon_back';
$icon-back-x: 0px;
$icon-back-y: 0px;
$icon-back-offset-x: 0px;
$icon-back-offset-y: 0px;
$icon-back-width: 80px;
$icon-back-height: 80px;
$icon-back-total-width: 280px;
$icon-back-total-height: 164px;
$icon-back-image: '../im/sprite.png';
$icon-back: (0px, 0px, 0px, 0px, 80px, 80px, 280px, 164px, '../im/sprite.png', 'icon_back', );
$icon-cart-name: 'icon_cart';
$icon-cart-x: 84px;
$icon-cart-y: 0px;
$icon-cart-offset-x: -84px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 80px;
$icon-cart-height: 80px;
$icon-cart-total-width: 280px;
$icon-cart-total-height: 164px;
$icon-cart-image: '../im/sprite.png';
$icon-cart: (84px, 0px, -84px, 0px, 80px, 80px, 280px, 164px, '../im/sprite.png', 'icon_cart', );
$icon-logo-name: 'icon_logo';
$icon-logo-x: 168px;
$icon-logo-y: 0px;
$icon-logo-offset-x: -168px;
$icon-logo-offset-y: 0px;
$icon-logo-width: 112px;
$icon-logo-height: 48px;
$icon-logo-total-width: 280px;
$icon-logo-total-height: 164px;
$icon-logo-image: '../im/sprite.png';
$icon-logo: (168px, 0px, -168px, 0px, 112px, 48px, 280px, 164px, '../im/sprite.png', 'icon_logo', );
$icon-search-name: 'icon_search';
$icon-search-x: 0px;
$icon-search-y: 84px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -84px;
$icon-search-width: 80px;
$icon-search-height: 80px;
$icon-search-total-width: 280px;
$icon-search-total-height: 164px;
$icon-search-image: '../im/sprite.png';
$icon-search: (0px, 84px, 0px, -84px, 80px, 80px, 280px, 164px, '../im/sprite.png', 'icon_search', );
$spritesheet-width: 280px;
$spritesheet-height: 164px;
$spritesheet-image: '../im/sprite.png';
$spritesheet-sprites: ($icon-back, $icon-cart, $icon-logo, $icon-search, );
$spritesheet: (280px, 164px, '../im/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: (nth($sprite, 5))/2;
}

@mixin sprite-height($sprite) {
  height: (nth($sprite, 6))/2;
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: ($sprite-offset-x)/2  ($sprite-offset-y)/2;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-size: 140px 82px;
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
